body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:auto;
    margin-right:auto;
}

.header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    width: 100vw;
}

.header-right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    margin-right: 75px;
    margin-left: 125px;
}

.header-left {
    display: flex;
    align-items: center;
    height: 75px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-left: 75px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero {
    display: flex;
    background: #1F2937;
    width: 100vw;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    padding-left: 275px;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 80px;
}

.hero-heading {
    display: flex;
    margin-bottom: -20px;
    margin-top: -30px;
    font-size: 25px;
    font-weight: bolder;
    color: #F9FAF8;
    overflow-wrap: break-word;
}

.hero-paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    margin: 0px;
}

button {
    cursor: pointer;
    background-color: #3882f6;
    color: #E5E7EB;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    margin-top: -5px;
}

button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
