body {
    margin: 0;
    font-family: 'Roboto', arial
}


.header-bar {
    display: flex;
    background: #1F2937;
    padding: 20px 0px 20px 65px;
    align-items: center;
}

.header-right {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 100px 0px 0px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.header-left {
    display: flex;
    color: #F9FAF8;
    font-size: 28px;
    font-weight: 900;
    padding: 20px 0 20px 100px;
    margin-left: -75px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.layer-1 {
    display: flex;
    justify-content: center;
    background: #1F2937;
    padding: 70px 0px 200px 70px;
    background-image: url(Village.webp);
    background-position: center;
}

.layer-1-container {
    display: flex;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 1.5em;
    box-shadow: 1em 1em 4em rgb(112, 112, 112);

}

.layer-1-left {
    display: flex;
    flex-direction: column;
    margin-right: 5em;
    margin-left: 5em;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
    margin: 0;
}

.description {
    font-size: 18px;
    color: #E5E7EB;

}

.layer-1-right {
    display: flex;
    margin-right: 5em;
    
}

.layer-1 button {
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto', arial;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
    padding: 12px;
    border-radius: 10px;
    width: 150px;
}

.layer-1-image {
    display: flex;
    height: 350px;
}

.layer-2 {

}

h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.layer-2-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.layer-2-boxes img {
    border: 3px solid #555;
    border-color: #3882F6;
    height: 200px;
    width: 250px;
    border-radius: 2em;
}

.layer-2-boxes p {
    display: flex;
    justify-content: center;
}


